*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(249, 245, 239);
}
h1{
    color: darkred;
    padding-top: 1rem;
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    /* align-items: center; */
}
.blog-container{
    display: flex;
    font-size: 18px;
    border: 2px solid #b8b8b8;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    margin: 4rem 0;
    background-color: whitesmoke;
    max-width: 45%;
}
.blog_post {
    padding-right: 1rem;
    /* margin: 0 1.5rem; */
    /* border: 2px solid #b8b8b8; */
    width: 60%
}
.blog-detail {
   
    line-height: 55px;
    padding-left: 1.5rem;
    width: 40%;
    
}
img{
    width: 100%;
    padding: 1rem 0;
}
button{
    margin-right: 10px;
    padding: 10px;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    background-color: rgb(116, 157, 116);
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(86, 137, 86);
    cursor: pointer;
}
